import * as React from 'react';
import "./ComponentName.scss"

export default function ComponentName() {
    return (
        <div className={"ComponentName"}>
            <h1>ComponentName</h1>
        </div>
    )
}