import * as React from 'react';
import "./ComponentName.scss"
import {RHeader} from '../RHeader/RHeader';

export default function ComponentName() {
    return (
        <>
            <RHeader title={"ComponentName"}>
                ComponentName Header Description
            </RHeader>
        </>
    )
}