import * as React from 'react';

export default function SiteName() {
    return (
        <div className={"SiteName"}>
            <h1 className={"has-text-centered title"}>SiteName</h1>
        </div>
    )
}